
<div class="modal-header">
    <h4 class="modal-title" style="font-weight: bold">GYŐZTES KIVÁLASZTÁSA</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <div class="middle">
        <label>
            <input type="radio" name="radio" />
            <div class="front-end box" (click)="onSelect(match.Csapatok![0])">
                <span>{{match.Csapatok![0]}}</span>
            </div>
        </label>
        <label>
            <input type="radio" name="radio" />
            <div class="back-end box" (click)="onSelect(match.Csapatok![1])">
                <span>{{match.Csapatok![1]}}</span>
            </div>
        </label>
        <input type="number" style="width: 50%; margin-left:25%; display: inline-block; margin-bottom: 1rem; box-sizing: border-box;"
        class="form-control" min="1" max="100" [(ngModel)] = "score1"/>
        <input type="number" style="width: 50%; margin-left:25%; display: inline-block; margin-bottom: 1rem; box-sizing: border-box;"
        class="form-control" min="1" max="100" [(ngModel)] = "score2"/>
        <div class="mybtn" (click)="updateWinner()">Kiválasztás</div>
    </div>
</div>
<!-- <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div> -->
