.btn-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
	font-size: 12px;

}

.btn-wrapper>* {
    margin-right: 2%;
    margin-left: 2%;
}