<header *ngIf="!groupMode && matches!=undefined" class="hero">
    <div class="hero-wrap">
        <p class="intro" id="intro" style="margin-bottom: 0;">Pányok</p>
        <h1 id="headline">{{gameType| gameType}} Bajnokság</h1>
        <p class="year"><i class="fa fa-star"></i> 2022 <i class="fa fa-star"></i></p>
        <p>{{gameName}}</p>
    </div>
</header>
<section *ngIf="user?.privilegeType == 'Admin' || matches!=undefined" id="bracket">
    <app-spinner *ngIf="matches != undefined && matches.length == 0"></app-spinner>
    <div *ngIf="!groupMode && user?.privilegeType == 'Admin'" class="btn-wrapper">
        <app-neon-button #new text="ÚJ BEOSZTÁS" (click)="onNewBracket()"></app-neon-button>
        <app-neon-button #load text="BETÖLTÉS" style="filter:hue-rotate(300deg);" (click)="onLoad()"></app-neon-button>
        <app-neon-button #save text="MENTÉS" (click)="onSave()"></app-neon-button>
        <app-neon-button text="NYOMTATÁS" style="filter:hue-rotate(300deg);" (click)="onPrintClick()"></app-neon-button>
    </div>
    <div *ngIf="matches != undefined && matches.length > 0 && !groupMode" class="container" #container>
        <div *ngFor="let round of matches | rounds; let i = index" class="split-wrap">
            <h1>{{i+1}}. Forduló</h1>
            <div class="round">
                <ul *ngFor="let match of round" class="matchup" id="match {{match.Meccs_id}}">
                    <span class="matchNumber">{{match.Meccs_id}}</span>
                    <li class="team" (click)="onTeamClick($event)"
                        [class.win]="match.Csapatok![0]==match.Gyoztes && match.Gyoztes.length > 0">
                        {{match.Csapatok![0]}}<span class="score">{{match.score0}}</span></li>
                    <li class="team" (click)="onTeamClick($event)"
                        [class.win]="match.Csapatok![1]==match.Gyoztes  && match.Gyoztes.length > 0">
                        {{match.Csapatok![1]}}<span class="score">{{match.score1}}</span></li>
                </ul>
            </div>
        </div>
        <div class="scoreBoard">
            <h1>EREDMÉNYEK</h1>
            <div class="round" style="width:50%; align-self:center;">
                <li *ngFor="let player of players | sortScore: 'WinRate'" class="team current">
                    {{player.name}}<span class="score">{{player.wins}}/{{player.wins+player.loses}}</span></li>
            </div>
        </div>
    </div>
    <!-- CSOPORTOS MECCSEK ESETÉN -->
    <div *ngIf="matches != undefined && matches.length > 0 && groupMode" class="container" #container>
        <div *ngFor="let groupName of groups|groupName" class="group-wrapper">
            <h1>{{groupName}}</h1>
            <div *ngFor="let round of (matches|myGroupPipe:groupName) | rounds; let i = index" class="split-wrap">
                <h1>{{i+1}}. Forduló</h1>
                <div class="round">
                    <ul *ngFor="let match of round" class="matchup" id="match {{match.Meccs_id}}">
                        <span class="matchNumber">{{match.Meccs_id}}</span>
                        <li class="team" (click)="onTeamClick($event)"
                            [class.win]="match.Csapatok![0]==match.Gyoztes && match.Gyoztes.length > 0">
                            {{match.Csapatok![0]}}<span class="score">{{match.score0}}</span></li>
                        <li class="team" (click)="onTeamClick($event)"
                            [class.win]="match.Csapatok![1]==match.Gyoztes  && match.Gyoztes.length > 0">
                            {{match.Csapatok![1]}}<span class="score">{{match.score1}}</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<app-wait-screen *ngIf="user?.privilegeType != 'Admin' && matches == undefined"></app-wait-screen>
