<div class="modal-header">
    <h4 class="modal-title" style="font-weight: bold">INFORMÁCIÓ</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <p style="text-align: center;">Az eredmény rögzítéséhez szólj egy csoportvezetőnek, vagy jelentkezz be egy másik fiókba.</p>
</div>
<div class="modal-footer" style="display: flex; justify-content: right;">
    <button type="button" class="btn btn-outline-light" (click)="activeModal.close('Close click')">OK</button>
</div>