@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
// body{
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 100vh;
//     background: #050801;
//     font-family: 'Raleway', sans-serif;
//     font-weight: bold;
// }

::ng-deep :root {
    --buttonCLR: #03e9f4;
}
div {
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 0;
    color:var(--buttonCLR);
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    font-weight: bold;
    cursor: pointer;
    width: 200px;
    text-align: center;
    user-select: none;
}
div:hover {
    background: var(--buttonCLR);
    color: black;
    box-shadow: 0 0 5px var(--buttonCLR),
                0 0 25px var(--buttonCLR),
                0 0 50px var(--buttonCLR),
                0 0 200px var(--buttonCLR);
     -webkit-box-reflect:below 1px linear-gradient(transparent, black);
     outline: none;
}
div:nth-child(1){
    filter: hue-rotate(280deg);
}

div span{
    position: absolute;
    display: block;
}
div span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg,transparent,var(--buttonCLR));
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
div span:nth-child(2){
    top: 0%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,var(--buttonCLR));
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
div span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,var(--buttonCLR));
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}


div span:nth-child(4){
    bottom: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,var(--buttonCLR));
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}

