<div class="arrow-container">
    <div class="arrow-2" (click)="bracketnav.activeId != 0 ? bracketnav.select(0): mainNav.select(0)">
      <i class="fa fa-angle-left"></i>
    </div>
</div>
<ul ngbNav #bracketnav="ngbNav" style="display: none;">
    <li [ngbNavItem] = "0">
        <a ngbNavLink>HOME</a>
        <ng-template ngbNavContent>
            <div style="display: flex; justify-content:center; align-items: center; margin: 0; height: 300px; text-align: start; flex-wrap: wrap;margin-top: 5rem;">
                <app-hex icon="fa-users" text = "Csoport mérkőzések" (click)="bracketnav.select(1)"></app-hex>
                <app-hex icon="fa-user" text = "Elo Pontok" (click)="bracketnav.select(5)"></app-hex>
                <app-hex icon="fa-angle-right" text = "Egyenes kiesés" (click)="bracketnav.select(2)"></app-hex>
                <app-hex icon="fa-angle-double-right" text = "Vigaszágas kiesés" (click)="bracketnav.select(3)"></app-hex>
                <app-hex icon="fa-rotate-right" text = "Körmérkőzés" (click)="bracketnav.select(4)"></app-hex>
            </div>
        </ng-template>
    </li>
    <li [ngbNavItem] = "1" >
        <a ngbNavLink>Group Bracket</a>
        <ng-template ngbNavContent><app-group-navigator gameType="{{gamePlayed}}"></app-group-navigator></ng-template>
    </li>
    <li [ngbNavItem] = "2" >
        <a ngbNavLink>Single Elimination</a>
        <ng-template ngbNavContent><app-se-bracket gameType="{{gamePlayed}}"></app-se-bracket></ng-template>
    </li>

    <li [ngbNavItem] = "3" >
        <a ngbNavLink>Double Elimination</a>
        <ng-template ngbNavContent><app-de-bracket gameType="{{gamePlayed}}"></app-de-bracket></ng-template>
    </li>

    <li [ngbNavItem] = "4">
        <a ngbNavLink>ROUND ROBIN</a>
        <ng-template ngbNavContent><app-rr-bracket gameType="{{gamePlayed}}" [groupMode]="false"></app-rr-bracket></ng-template>
    </li>
    <li [ngbNavItem] = "5">
        <a ngbNavLink>Elo Rating</a>
        <ng-template ngbNavContent><app-elo-bracket gameType = "{{gamePlayed}}"></app-elo-bracket></ng-template>
    </li>
</ul>
  

<div [ngbNavOutlet]="bracketnav" class="items"></div>