<div *ngIf="matches!=undefined" class="btn-wrapper">
    <app-neon-button text="CSOPORTOK" style="filter:hue-rotate(100deg);" (click)="groupstage.select(1)"></app-neon-button>
    <app-neon-button text="MECCSEK" style="filter:hue-rotate(100deg);" (click)="groupstage.select(2)"></app-neon-button>
    <app-neon-button text="KIESÉS" style="filter:hue-rotate(100deg);" (click)="groupstage.select(3)"></app-neon-button>

</div>
<div *ngIf="user?.privilegeType == 'Admin'" class="btn-wrapper">
    <app-neon-button #new text="ÚJ CSOPORTOK" (click)="onNewGroup()"></app-neon-button>
    <app-neon-button #load text="BETÖLTÉS" style="filter:hue-rotate(300deg);" (click)="onLoad()"></app-neon-button>
    <app-neon-button #save text="MENTÉS" (click)="onSave()"></app-neon-button>
    <app-neon-button text="NYOMTATÁS" style="filter:hue-rotate(300deg);" (click)="onPrintClick()"></app-neon-button>
</div>
<header *ngIf="matches!=undefined" class="hero">
    <div class="hero-wrap">
        <p class="intro" id="intro" style="margin-bottom: 0;">Pányok</p>
        <h1 id="headline">{{gameType| gameType}} Bajnokság</h1>
        <p class="year"><i class="fa fa-star"></i> 2022 <i class="fa fa-star"></i></p>
        <p>{{gameName}}</p>
   </div>
</header>
<ul ngbNav #groupstage="ngbNav" style="display: none;">
    <li [ngbNavItem] = "1">
        <a ngbNavLink>GROUPS</a>
        <ng-template ngbNavContent>
            <app-group-bracket
                [groups]="groups" 
                (groupChange)="groups = $event">
            </app-group-bracket>
        </ng-template>
    </li>
    <li [ngbNavItem] = "2" >
        <a ngbNavLink>Matches</a>
        <ng-template ngbNavContent>
            <app-rr-bracket 
                [gameType]="gameType"
                [groupMode]="true" 
                [groups]="groups" 
                (groupsChange)="RRBracketUpdate($event)" 
                [matches]="matches">
            </app-rr-bracket>
        </ng-template>
    </li>
    <li [ngbNavItem] = "3" >
        <a ngbNavLink>Matches</a>
        <ng-template ngbNavContent>
            <app-se-bracket 
                [gameType]="gameType"
                [gameName]="gameName"
                [groupMode]="true">
            </app-se-bracket>
        </ng-template>
    </li>
</ul>

<div [ngbNavOutlet]="groupstage" class="items"></div>
<app-wait-screen *ngIf="user?.privilegeType != 'Admin' && matches == undefined"></app-wait-screen>
